.footer__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
  padding-bottom: 10px;
}

.footer__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  font-style: normal;
  text-align: right;
  margin-bottom: 6px;
}

.footer__text:last-child {
  margin-bottom: 0px;
}